.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(auto-fit, 30px);
}
.kast p{
    display: inline-block;
}

input{
    width: 50px;
    text-align: right;
}

img {
    width: 80px;
}