body {
    background-image: linear-gradient(rgba(255, 255, 0, 0.200), rgba(255, 166, 0, 0.500));
    padding: 20px;
}
#top-section, #bottom-section {
    border: 1px solid rgba(0, 0, 0, 0.215);
    padding: 20px;
}
#bottom-section {
    margin-top: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(auto-fit, 30px);
}
.kast p{
    display: inline-block;
}

input{
    width: 50px;
    text-align: right;
}

img {
    width: 80px;
}